body.modal-open {
    overflow: hidden;
}

.modal-stage {
    display: none;
}

body.modal-open .modal-stage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
    animation: .3s blurIn;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.modal-stage__modal {
    background-color: #222;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    position: relative;
    width: 600px;
    border: solid 1px #181818;
    animation: .5s zoomOut;
}

.modal-stage__modal-close-button {
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #181818;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -39px;
}
.modal-stage__modal-close-button:hover,
.modal-stage__modal-close-button:focus {
    border: solid rgba(228, 120, 255) 1px;
    background-color: var(--accent-dark-color)
}

.modal-stage__modal-close-button svg {
    width: 12px;
    height: 12px;
}

@media screen and (max-width: 615px) {
    .modal-stage__modal {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        border-radius: 0;
        border: none;
        animation-name: slideIn;
        max-height: 80vh;
    }
}

@keyframes slideIn {
    from { bottom: -100%; }
    to { bottom: 0; }
}

@keyframes zoomIn {
    from { transform: scale(1.02); }
    to { transform: scale(1); }
}

@keyframes zoomOut {
    from { transform: scale(.95); }
    to { transform: scale(1); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes blurIn {
    from { background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(0); }
    to  { background-color: rgba(0, 0, 0, .7); backdrop-filter: blur(10px); }
}