.venue { width: 1080px; }
.venue summary { width: 100%; padding-left: 20px; box-sizing: border-box; }

.venue summary:hover { background-color: rgba(7, 255, 123, 0.075); cursor: pointer; }
.venue details { display: block; width: 100%; }

.venue__summary-row { display: inline-block; padding: 10px 20px; }

.venue__cell { display: inline-block; }

.venue__start { width: 65px; }
.venue__time-split { width: 35px; }
.venue__end  { width: 90px; }
.venue__name { width: 300px; font-weight: bolder; text-overflow:ellipsis; }
.venue__location { width: 360px; }

.venue__sfw-icon { height: 15px; margin-right: 10px; }
.venue__nsfw-icon { height: 15px; }
.venue__next-day { display: inline-block; height: 10px; margin: -5px 0 5px 5px; }

.venue__detail-row {
    background-color: #333;
    margin: 10px 10px;
    padding: 15px 20px 20px 20px;
    width: calc(100% - 20px);
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
}

.venue__description { margin: 0; }
.venue__website { margin-right: 20px; }
.venue__sfw-detail { height: 25px; margin-bottom: -5px; margin-right: 10px }
.venue__nsfw-detail { height: 25px; margin-bottom: -5px; margin-right: 10px  }

@media screen and (max-width: 1150px) {
    .venue { max-width: 950px; }
    .venue__start { width: 140px; }
    .venue__time-split { display: none }
    .venue__end  { display: none }
}

@media screen and (max-width: 980px) {
    .venue { max-width: 600px; }
    .venue__location  { display: none }
}

@media screen and (max-width: 615px) {
    .venue { max-width: 100%; }
    .venue__name { width: auto }
    .venue__icons { display: none }
    .venue details, .venue summary { width: 100% }
    .venue__summary-row { padding: 10px 5px }
}