.venue-profile__banner {
    background-image: url("../../assets/default-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 200px;
    width: 100%;
    padding-top: 0.05px;
}

.venue-profile__user-settings {
    margin: 10px
}

.venue-profile__user-settings button {
    margin-right: 10px;
    padding: 7px 8px;
    border: solid #222 1px;
    background-color: rgba(20, 20, 20, .8);
    color: #BBB;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.venue-profile__user-settings button svg {
    height: 15px;
    margin-right: 10px
}

button.venue-profile__favourite-button--favourited,
button.venue-profile__visited-button--visited {
    color: #EEE;
    border: solid #009B80 1px;
    background-color: rgba(0, 155, 128, .9);
}

.favorite-icon {
    margin-right: 7px;
}

.venue-profile__details {
    padding: 20px 25px 30px 25px;
    box-sizing: border-box;
    max-height: 50vh;
    overflow-y: auto;
}

.venue-profile__heading {
    display: flex;
    align-items: center;
    
}
.venue-profile__heading h2 {
    margin: 0;
    font-size: 1.3rem;
    flex: 1;
    text-transform: uppercase;
}

.venue-profile__description {
    text-align: justify;
}

.venue-profile__discord,
.venue-profile__website {
    float: right;
    display: inline-flex;
    align-items: center;
}

.venue-profile__discord svg,
.venue-profile__website svg  {
    height: 20px;
    margin-left: 20px;
}

.venue-profile__location { margin-top: 0; margin-bottom: 30px; }


.venue-profile__opening-times { margin-top: 30px; }
.venue-profile__day { width: 100px }
.venue-profile__start { width: 70px }
.venue-profile__split { width: 25px; text-align: center; }
.venue-profile__timezone-notice { margin-left: 107px; }


.venue-profile__exceptions { margin-top: 30px; }

.venue-profile__badge-container {
    margin-top: 30px
}