.venue-card__container {
    display: inline-block;
    width: 350px;
    height: 175px;
    box-sizing: border-box;
    color: var(--foreground-color);
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    border: solid 1px var(--outline-color);
    background-color: var(--background-color);
    animation: slideInFromRight .3s linear;
}

.venue-card__photo-container {
    position: relative;
    overflow: hidden;
    aspect-ratio: 2/1;
    border-bottom: solid 1px var(--outline-color);
    box-shadow: black 0 0 7px;
}

.venue-card__container--favorite .venue-card__photo-container {
    box-shadow: var(--favorite-color) 0 0 7px;
    border: solid 1px var(--favorite-color);
}

.venue-card__container--new .venue-card__photo-container {
    box-shadow: var(--new-color) 0 0 7px;
    border: solid 1px var(--new-color);
}

.venue-card__container--open .venue-card__photo-container {
    box-shadow: var(--accent-color) 0 0 7px;
    border: solid 2px var(--accent-color);
}

.venue-card__photo {
    height: 100%;
}

.venue-card__container:hover .venue-card__photo {
    opacity: 1;
}

.venue-card__summary {
    text-align: right;
    padding: 5px 10px;
}

.venue-card__name {
    font-size: 1.2em;
    font-weight: bolder;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.venue-card__tags {
    position: absolute;
    bottom: 100%;
    width: 100%;
    font-size: .8rem;
    font-weight: bold;
    text-shadow: none;
    line-height: 1rem;
    color: var(--background-color);
}

.venue-card__new,
.venue-card__open,
.venue-card__visited,
.venue-card__favorite {
    display: none;
    padding: 3px 8px;
}

.venue-card__new { float: left; margin-right: 5px; background-color: var(--new-color); }
.venue-card__open { float: left; margin-right: 5px; background-color: var(--accent-color); }
.venue-card__visited { float: right; background-color: var(--visited-color); }
.venue-card__favorite { float: right; margin-left: 5px; background-color: var(--favorite-color) }


.venue-card__container--new .venue-card__new { display: block; }
.venue-card__container--open .venue-card__open { display: block; }
.venue-card__container--visited .venue-card__visited { display: block; }
.venue-card__container--favorite .venue-card__favorite { display: block; }


.venue-card__date {
    display: inline-block;
    margin-right: 10px;
}

.venue-card__time {
    font-size: .95em;
}

.venue-card__time .venue-card__start {
    display: inline-block;

}
.venue-card__time .venue-card__time-split {
    display: inline-block;
    margin: auto 10px auto 10px;
}
.venue-card__time .venue-card__end {
    display: inline-block;
}

.venue-card__location {
    font-size: .95em;
}


@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}