.scroll-horizontal__scroll-parent {
    position: relative;
    height: 100%;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-horizontal__scroll-parent::-webkit-scrollbar {
    display: none;
}

.scroll-horizontal__scroll-parent > * {
    padding: 0 10px;
}

.scroll-horizontal__arrow {
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.scroll-horizontal__arrow--left {
    left: 0;
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 20px;
    background-image : linear-gradient(to left, rgba(20, 20, 20, 0), var(--background-color) 25%);
}

.scroll-horizontal__arrow--right {
    right: 0;
    padding-right: 10px;
    margin-right: -10px;
    padding-left: 20px;
    background-image : linear-gradient(to right, rgba(20, 20, 20, 0), var(--background-color) 25%);
}

.scroll-horizontal__arrow:hover:before, .scroll-horizontal__arrow:focus:before {
    border-color: var(--accent-dark-color);
}

.scroll-horizontal__arrow:before {
    content: '';
    border: solid var(--outline-color);
    border-width: 0 3px 3px 0;
    display: block;
    padding: 4px;
}

.scroll-horizontal__arrow--left:before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.scroll-horizontal__arrow--right:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@media screen and (max-width: 475px) {
    .scroll-horizontal__arrow { width: 10px }
    .scroll-horizontal__scroll-parent { margin-left: 10px !important; margin-right: 10px !important; width: calc(100% - 20px) !important; }
    .scroll-horizontal__arrow--left { padding-right: 10px !important; }
    .scroll-horizontal__arrow--right { padding-left: 10px !important; }
}