.venue-opening { max-width: 100%;  }
.venue-opening--open { color: #009B80; text-shadow: 0 0 15px rgba(144, 238, 144, 0.7); font-weight: bolder; }


.venue-opening__summary-row { width: 100%; display: inline-block; padding: 10px 20px; box-sizing: border-box; cursor: pointer; }
.venue-opening__summary-row:hover { background-color: rgba(7, 255, 123, 0.075); cursor: pointer; }

.venue-opening__cell { display: inline-block; }

.venue-opening__start { width: 80px; }
.venue-opening__time-split { width: 30px; }
.venue-opening__end  { width: 90px; }
.venue-opening__name { width: 300px; font-weight: bolder; text-overflow: ellipsis; }
.venue-opening__location { width: 380px; }
.venue-opening__icons .sfw-icon { height: 15px; margin-right: 10px; }
.venue-opening__icons .nsfw-icon { height: 15px; }

.venue-opening--no-time .venue-opening__name { width: 500px; }

.venue-modal__close-button { 
    border: none;
    cursor: pointer;
    width: 30px; 
    height: 30px;
    background-color: #181818;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    float: right;
    margin: 10px 10px;
}
.venue-modal__close-button:hover {
    background-color: #400;
}
.venue-modal__close-button:focus {
    background-color: #200;
}

.venue-modal__close-button img {
    width: 11px;
    height: 11px;
}

.venue-modal .venue-profile {
    margin-top: 0px;
}

@media screen and (max-width: 1070px) {
    .venue-opening { max-width: 870px; }
    .venue-opening__start { width: 110px; }
    .venue-opening__time-split { display: none }
    .venue-opening__end  { display: none }
    .venue-opening--no-time .venue-opening__name { width: 410px; }
}

@media screen and (max-width: 970px) {
    .venue-opening { max-width: 500px; }
    .venue-opening__location  { display: none }
}

@media screen and (max-width: 570px) {
    .venue-opening { max-width: 100%; }
    .venue-opening--no-time .venue-opening__name, .venue-opening__name { width: auto }
    .venue-opening__icons { display: none }
    .venue-opening__summary-row { width: 100%; padding: 10px 20px }
}