.venue-opening { max-width: 100%;  }
.venue-opening--open { color: #E378FF; text-shadow: 0 0 15px rgba(227, 120, 255, 0.7); font-weight: bolder; }

.venue-opening__summary-row { width: 100%; display: inline-block; padding: 10px 20px; box-sizing: border-box; cursor: pointer; }
.venue-opening__summary-row:hover { background-color: rgba(239, 67, 255, 0.075); cursor: pointer; }

.venue-opening__cell { display: inline-block; }

.venue-opening__start { width: 80px; }
.venue-opening__time-split { width: 30px; }
.venue-opening__end  { width: 90px; }
.venue-opening__name { width: 280px; font-weight: bolder; text-overflow: ellipsis; }
.venue-opening__location { width: 340px; }
.venue-opening__icons .sfw-icon { height: 15px; margin-right: 10px; }
.venue-opening__icons .nsfw-icon { height: 15px; }

.venue-opening--no-time .venue-opening__name { width: 300px; }

.venue-opening__new { color: darkorange; font-size: .7rem; margin-left: 7px; vertical-align: top; }

.venue-modal__close-button { 
    border: none;
    cursor: pointer;
    width: 30px; 
    height: 30px;
    background-color: #181818;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    right: 0;
    top: -40px;
}
.venue-modal__close-button:hover,
.venue-modal__close-button:focus {
    border: solid rgba(228, 120, 255) 1px;
    background-color: var(--accent-dark-color)
}

.venue-modal__close-button img {
    width: 11px;
    height: 11px;
}

@media screen and (max-width: 615px) {
    .venue-modal__close-button {
        right: 5px;
    }
}
.venue-modal .venue-profile {
    margin-top: 0px;
}
