.default-page-layout {
    background-image: var(--hero-image);
    background-position-x: 0;
    background-attachment: fixed;
    background-size: 280px auto;
    background-repeat: no-repeat;
    background-color: var(--background-color);

    min-height: 100vh;
    padding: 90px var(--scroll-bar-width) 7.5vh 300px;
}

.default-page-layout__heading {
    display: flex;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: black;
    box-shadow: black 0 0 5px;
    align-items: center;
    padding: 10px 20px 5px;

    h1 {
        display: inline-block;
        margin: 0;

        img {
            height: 35px;
            margin: 5px;
        }
    }
}

.default-page-layout__meta-panel {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.modal-stage__modal.new-venue-modal {
    width: 800px;
}

@media screen and (max-width: 615px) {
    .modal-stage__modal.new-venue-modal {
        width: 100%;
    }
}

@media screen and (min-width: 1245px) {
    .default-page-layout__staff-list--collapsible { display: block; }
    .default-page-layout__staff-list--not-collapsible {  display: none; }
}

@media screen and (max-width: 1245px) {
    /*  Remove background strip and make full use of width */
    .default-page-layout { background-image: none; padding-left: 20px; }
    .default-page-layout__meta-panel { position: relative; left: unset; bottom: unset; width: max-content; margin: 0 auto; margin-bottom: 75px; display: flex; }
    .cta-panel { margin-right: 50px; min-width: 250px; border: solid 1px dimgray; }
    .default-page-layout__staff-list--collapsible { display: none; }
    .default-page-layout__staff-list--not-collapsible {  display: block; }
}

@media screen and (max-width: 650px) {
    .default-page-layout__meta-panel { display: block; }
    .cta-panel { margin-bottom: 50px; }
}

@media screen and (min-width: 1245px) and (min-height: 1075px) {
    .cta-panel { width: 22.3vh; }
}

@media screen and (min-width: 1245px) and (min-height: 1075px) {
    .default-page-layout {
        background-size: auto 100vh;
        padding-left: 27.5vh;
    }
}