.venue-directory__error,
.venue-directory__loading,
.venue-directory__none-found {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.05em;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.venue-directory__loading .icons__loading {
    width: 45px;
    height: 45px;
}

@media screen and (max-width: 475px) {
    .aether-venues__list { margin-left: 10px; width: calc(100vw - 20px - var(--scroll-bar-width)); }
}

@media screen and (min-width: 1245px) and (min-height: 1075px) {
    .aether-venues__list { margin-left: 28vh; width: calc(100vw - 28vh - 40px); }
}
