.venue-directory__none-found {
    margin-top: 30px;
    margin-left: 30px;
}

.venue-directory__list-section {
    border-bottom: solid 2px #2E2E2E;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    padding-top: 10px;
}

.venue-directory__list-section .venue-opening {
    margin-left: 5px
}

.venue-directory__list-section h2 {
    font-size: 1.35em;
    writing-mode: vertical-rl;
    display: block;
    margin: 10px 5px;
}

.venue-directory__list-heading--open-now {
    color: var(--accent-color);
}

.venue-directory__list-section .venue-directory__list {
    width:95%;
}
