.new-venue-guidance {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}

.new-venue-guidance__button {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.new-venue-guidance__guidance {
    margin: 0 20px
}

.new-venue-guidance__guidance p {
    margin-bottom: 40px;
}

.new-venue-guidance__guidance ol {
    padding-left: 30px;
}

.new-venue-guidance__veni-guidance {
    flex: 1;
}

.new-venue-guidance__spine {
    border-left: grey solid 1px;
    margin-right: 5px;
    width: 0;
    height: 100px;
}

.new-venue-guidance__spine-text {
    font-weight: bold;
}

.new-venue-guidance__discord-guidance {
    color: #BBBBBB;
    flex: 0.6;
}

.new-venue-guidance__discord-guidance p {
    margin: 30px 0;
}

.new-venue-guidance__button {
    display: block;
    width: fit-content;
    margin: 5px 0 20px;
}

.new-venue-guidance__veni-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("veni.jpg");
    background-size: contain;
    margin-bottom: -12px;
    margin-right: 10px;
}

@media screen and (max-width: 615px) {
    .new-venue-guidance {
        flex-direction: column;
    }

    .new-venue-guidance__guidance ol {
        padding-left: 15px;
    }

    .new-venue-guidance__spine {
        width: 100px;
        height: 0;
        border-bottom: solid grey 1px;

    }
    
    .new-venue-guidance__spine-text {
        font-weight: bold;
    }
}
