.light .next-day-icon {
    filter: invert();
}


.favorite-icon {
    width: 1rem;
}

.favorite-icon path {
    fill: transparent !important;
    stroke-width: 25pt;
    stroke: white;
}

.favorite-icon.favorite-icon--lit path {
    fill: white !important;
    stroke: white;
}

.loading-icon {
    width: 2em;
    animation: spin linear 1s infinite;
}

@keyframes spin {
    from {
       transform: rotate(0deg); 
    }
    to {
        transform: rotate(359deg); 
    }
}