.light .icon__next-day {
    filter: invert();
}


.icon__favourite {
    width: 1rem;
}

.icon__favourite path {
    fill: transparent !important;
    stroke-width: 25pt;
    stroke: white;
}

.icon__favourite.favorite-icon--lit path {
    fill: white !important;
    stroke: white;
}

.icon__loading {
    width: 2em;
    animation: spin linear 1s infinite;
}

@keyframes spin {
    from {
       transform: rotate(0deg); 
    }
    to {
        transform: rotate(359deg); 
    }
}