.notice {
    /* margin-top: 30px; */
    margin-bottom: 30px;
    padding: 10px 15px;
    background-color: var(--accent-dark-color);
    border: solid 1px var(--accent-color);
    color: #ddd;
    border-radius: 5px;
}

.notice a {
    color: #222;
}

.notice__summary {
    cursor: pointer;
    font-weight: bolder;
}

@media screen and (max-width: 615px) {
    .notice {
        margin-top: 30px;
    }
}