.notice {
    margin-top: 68px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: var(--accent-color);
    box-shadow: 0 0 10px var(--accent-dark-color);
    padding: 10px 15px;
    background-color: var(--accent-dark-color);
    color: #ddd;
    cursor: pointer;
    margin-bottom: -70px;
    text-align: center;
}

.notice a {
    color: #222;
}

