@font-face { 
	font-family: 'Hingashi Extended';
	src: url("assets/HingashiExtended.ttf") format("truetype");
}

@font-face { 
	font-family: 'Jupiter Pro';
	src: url("assets/JupiterProBold.ttf") format("truetype");
}

:root {
  font-size: 15px;
  --background-color: rgb(221, 221, 221);
  --background-color: rgb(20, 20, 20);
  --accent-color: rgba(227, 120, 255);
}

body {
  background-image: url("assets/hero-strip.jpg");
  background-position-x: 000px;
  background-attachment: fixed;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-color: var(--background-color);

  color: white;
}

a {
  color: inherit;
}

.aether-venues__banner-credit {
  font-size: small;
  margin-top: 10px;
  text-align: left;
}

.aether-venues__heading {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: black;
  box-shadow: black 0 0 5px;
  align-items: center;
  padding: 10px 20px 5px;
}

.aether-venues__heading img,
.aether-venues__heading svg {
  height: 35px;
  margin: 5px;
}

.aether-venues__heading h1 {
  display: inline-block;
  margin: 0;
}

.aether-venues__colaborators {
  display: inline-flex;
  align-items: center;
  color: gray;
  vertical-align: middle;
  float: right;
}

.aether-venues__colaborators a {
  margin-left: 15px;
  margin-right: 15px;
}
.aether-venues__colaborators a:first-of-type {
  margin-left: 10px;
}
.aether-venues__colaborators a:last-of-type {
  margin-right: 0;
}

.aether-venues__tags {
  margin-bottom: 20px;
  height: 36px;
  position: relative;
}

.aether-venues__tag {
  display: inline-block;
  border-radius: 6px;
  background-color: #111;
  border: solid 1px #333;
  color: white;
  font-size: 1em;
  padding: 5px 15px 7px 15px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  width: max-content;
}

.aether-venues__tag--enabled {
  background-color: var(--accent-color);
}

.aether-venues__list {
  margin-left: 27.5vh;
  margin-top: 100px;
  margin-bottom: 30px;
  width: calc(100vw - 380px);
}

.aether-venues__day {
  padding-top: 20px; 
}

.aether-venues__venues summary h2 {
  font-family: "Jupiter Pro";
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.aether-venues__scheduled-venues {
  max-width: 100%;
}

.aether-venues__meta-panel {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.aether-venues__discord {
  border-radius: 5px;
  background-color: var(--background-color);
  width: 20vh;
  padding: 15px;
  margin-bottom: 20px;
  font-size: .9rem;
}

.aether-venues__discord-cta {
  display: flex;
  align-items: center;
}

.aether-venues__discord svg {
  float: left;
  display: block;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-right: 15px;
  fill: white;
}

.aether-venues__discord-button {
  border-radius: 5px;
  display: block;
  padding: 5px 15px;
  border: dimgray 1px solid;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
}

.aether-venues__discord-button:focus,
.aether-venues__discord-button:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: white
}

.aether-venues__made-by-individual {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.aether-venues__made-by-individual img {
  border-radius: 50%;
  height: 32px;
  margin-right: 10px;
}

.aether-venues__made-by-individual .aether-venues__made-by-position {
  font-size: .8em;
}

@media screen and (max-width: 615px) {
  .aether-venues__day { padding-top: 20px; }
  .aether-venues__heading { margin-bottom: 110px; flex-direction: column; align-items: flex-start; }
  .aether-venues__heading h1 { margin-left: 0; }
  .aether-venues__definition { margin-bottom: 20px; text-shadow: none; }
  .aether-venues__venues { margin-right: 20px }
}