:root {
  font-size: 16px;
  --scroll-bar-width: calc(100% - 100vw);
}

body {
  background-image: url("assets/background-image.jpg");
  background-size: auto 400px;
  background-repeat: no-repeat;
  background-color: #404040;
  color: white;
}

a {
  color: white;
}


.aether-venues__heading {
  margin-top: 135px;
  margin-left: 4vw;
  display: flex;
  align-items: center;
  
}

.aether-venues__heading img {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.aether-venues__heading h1 {
  font-size: 3.5rem;
  display: inline-block;
  margin: 0;
  margin-left: 25px;
}

.aether-venues__definition {
  margin-left: 4vw;
  margin-bottom: 75px;
  width: 85vw;
  max-width: 1080px;
  text-align: justify;
}

.aether-venues__day {
  padding-top: 20px; 
}

.aether-venues__day h2 {
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.aether-venues__venues {
  min-width: 420px;
  max-width: 100%;
  margin-left: 4vw;
}

.aether-venues__made-by {
  margin-left: 4vw;
  margin-top: 60px;
  margin-bottom: 60px;
}

.aether-venues__made-by span {
  color: red;
  font-size: 1.5rem;
}


@media screen and (max-width: 615px) {
  .aether-venues__day { padding-top: 20px; }
  .aether-venues__day summary { padding-left: 20px; }
  .aether-venues__heading { margin-left: 20px; margin-bottom: 100px; flex-direction: column; align-items: flex-start; }
  .aether-venues__heading h1 { margin-left: 0; }
  .aether-venues__definition { margin-left: 20px; margin-bottom: 40px }
  .aether-venues__venues { margin-left: 0; }
}