
@media screen and (max-width: 1245px) {
    /*  Remove background strip and make full use of width */
    body { background-image: none; }
    .aether-venues__colaborators { display: none; }
    .aether-venues__view-toggle { margin-left: auto; }
    .aether-venues__list { margin-left: 20px; width: calc(100vw - 60px); }
    .aether-venues__meta-panel { position: relative; left: unset; bottom: unset; width: max-content; margin: 0 auto; margin-bottom: 75px; display: flex; }
    .aether-venues__discord-panels { margin-right: 50px; }
    .aether-venues__discord { min-width: 250px; border: solid 1px dimgray; }
}

@media screen and (max-width: 925px) {
    /* For list mode, remove end time */
    .venue-opening__start { width: 90px !important; }
    .venue-opening__time-split { display: none !important; }
    .venue-opening__end  { display: none !important; }
}

@media screen and (max-width: 815px) {
    /* For list mode, remove locatioon time */
    .venue-opening__location  { display: none !important; }
}

@media screen and (max-width: 650px) {
    .aether-venues__meta-panel { display: block; }
    .aether-venues__discord-panels { margin-bottom: 50px; }
    
    /* View toggle to icons only */
    .aether-venues__view-toggle button { font-size: 0; }
    .aether-venues__view-toggle button svg { margin: 0; }
}

@media screen and (max-width: 475px) {
    /* Try to make more space; viewport margins decreased, card arrows decreased */
    .aether-venues__search-textbox {  width: calc(100% - 60px);
        margin-left: 20px;
    }
    .aether-venues__list { margin-left: 10px; width: calc(100vw - 20px - var(--scroll-bar-width)); }
    .scroll-horizontal__arrow { width: 10px }
    .scroll-horizontal__scroll-parent { margin-left: 10px !important; margin-right: 10px !important; width: calc(100% - 20px) !important; }
    .scroll-horizontal__arrow--left { padding-right: 10px !important; }
    .scroll-horizontal__arrow--right { padding-left: 10px !important; }
    
    .venue-card__block { width: 330px !important; }


    /* For list mode, name becomes fluid width */
    .venue-opening__summary-row { width: 100%; margin-left: -5px !important; padding: 10px 10px !important; }
    .venue-opening__start { width: 80px !important; }
    .venue-opening__name { width: auto !important }
}


@media screen and (min-width: 1245px) and (min-height: 1075px) {
    body { background-size: auto 100vh; }
    .aether-venues__discord { width: 22.3vh; }
    .aether-venues__list { margin-left: 28vh; width: calc(100vw - 28vh - 40px); }
}